--trusted-host pypi.tuna.tsinghua.edu.cn
accelerate
astropy
backtrader
biopython
darts
einops
faiss-cpu
jieba
lightgbm
moviepy
onnx
onnxruntime
opencv-python
optimum
optuna
pmdarima
poliastro
pydicom
PySpice
pyvista
quantstats
rank_bm25
safetensors
scikit-bio
sentence-transformers
skyfield
statsmodels
tensorflow
tf-keras
thefuzz
torch
torchaudio
torchvision
transformers
trimesh
umap-learn
xgboost
yfinance