--trusted-host pypi.tuna.tsinghua.edu.cn
pandas
requests
openpyxl
pywebview[pyqt5]
pywin32
python-dotenv
pyyaml
Pillow
Jinja2
psutil
Markdown
pymdown-extensions
PyMuPDF
python-docx
html2image
weasyprint
beautifulsoup4
lxml
numpy
scipy
matplotlib
seaborn
plotly
scikit-image
cairosvg
svglib
reportlab
opencv-python
pyarrow
polars
SQLAlchemy
biopython
optuna
tqdm