--trusted-host pypi.tuna.tsinghua.edu.cn
tensorflow
torch
torchvision
torchaudio
tf-keras
scikit-learn
xgboost
lightgbm
sentence-transformers
faiss-cpu
jieba
thefuzz
rank_bm25
transformers
accelerate
bitsandbytes
optimum
onnx
onnxruntime
safetensors
einops