--trusted-host pypi.tuna.tsinghua.edu.cn

beautifulsoup4
cairosvg
h5py
html2image
imageio
Jinja2
keras-tcn
lmfit
lxml
Markdown
matplotlib
mpmath
networkx
numpy
openpyxl
orjson
pandas
pendulum
Pillow
plotly
polars
psutil
pymdown-extensions
PyMuPDF
pyserial
pyvisa
pywebview[pyqt5]
pywin32
pyyaml
python-docx
python-pptx
pyarrow
requests
reportlab
scikit-image
scikit-learn
scipy
seaborn
shapely
SQLAlchemy
svglib
sympy
tqdm
uncertainties
weasyprint
xlwings
xlsxwriter