--trusted-host pypi.tuna.tsinghua.edu.cn

accelerate
astropy
backtrader
biopython
darts
einops
faiss-cpu
fastapi
gluonts
jieba
lightgbm
mlflow
moviepy
onnx
onnxruntime
opencv-python
optimum
optuna
pmdarima
poliastro
prophet
pydicom
PySpice
pyvista
quantstats
rank_bm25
safetensors
scikit-bio
sentence-transformers
skyfield
sktime
statsforecast
statsmodels
tensorflow
tf-keras
thefuzz
torch
torchaudio
torchvision
transformers
trimesh
tsfresh
umap-learn
uvicorn
wandb
xgboost
xformers
yfinance